.main-usageview{
    width: 70%;
    margin-top:6vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}